body{ background: #f3f3f3}
.fr{ float: right}
.ucbody{ font-size:0.1574rem; padding-top: 0.1687rem}

a:focus,input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}

.headerimgbox{ font-size: 0.2rem}
.headerimgbox h3{ color: #333; line-height: 150%; margin: 0.1rem 0;font-size: 0.2rem}
.headerimgbox P{ color: #999;font-size: 0.2rem}
.headerimg{background:url('http://img.autostreetscdn.com/m/src/images/userheader.jpg') no-repeat; background-size: cover; width: 0.81rem; height: 0.81rem; display: inline-block; float: left; margin-right: 0.2rem}

.ucform{border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd; background: #fff}
.ucform li{ height: 0.5006rem; margin-left: 0.1125rem; border-top: 1px solid #dddddd; position: relative; margin-top: -1px}

.label-1{ display: inline-block; height: 0.5006rem; line-height: 0.5006rem;font-size:0.1574rem; float: left;padding-right: 0.1125rem;}

.label-2{ width: 0.9rem; display: inline-block}
.input-1{background: #fff; -webkit-appearance : none ; border-radius: 0px;  /*解决iphone safari上的圆角问题*/height: 0.4006rem; line-height: 0.4006rem; padding:0.05rem 0;border: 0px; width: 2.35rem;font-size:0.1574rem; float: left}

.submitbox{ padding: 0.1125rem 0.09rem}
.submitbox p{ color: #999;margin-top: 0.1rem}
.btn-1{ background:#f5770f; height: 0.4612rem; line-height:0.4612rem;  display: block; text-align: center; color: #fff;font-size:0.1874rem; border-radius: 0.05rem;text-decoration:none;}
.link-1{color: #999; text-decoration: underline}
.link-2{ color: #356FC4; text-decoration: none; position: absolute; top:0; right:0.1125rem; font-family:Arial;height: 0.5006rem; display: inline-block; line-height:0.5006rem;  }
.linkdis{ color:#999}
.link-3{color: #999; text-decoration: none}

.pbox-1{height: 0.5006rem; line-height:0.5006rem; text-indent:0.1125rem; font-family: Arial; color: #999}
.pbox-1 span{ color: #000} 

.selectform{}
.selectform a{height: 0.5006rem; line-height:0.5006rem;  display: block; color:#000; text-decoration: none}
.selectform a.on{ color: #356FC4; background:url('http://img.autostreetscdn.com/m/src/images/gou.png') no-repeat 95% center; background-size: 0.1574rem 0.1574rem;}

.uc-warning{background:url('http://img.autostreetscdn.com/m/src/images/warning.png') no-repeat center top; background-size:0.675rem 0.675rem; padding:1rem 0.6rem 0rem 0.6rem ;text-align: center; margin-top:0.5rem; font-size: 0.18rem}

.uc-warning-btnbox{ position: fixed; bottom: 0px; width: 100%; }
.uc-warning-btnbox a{ font-size: 0.1574rem; display: block;border: 1px solid #ddd; background: #fff; margin:0 0.1125rem 0.1125rem 0.1125rem;height: 0.4612rem; line-height:0.4612rem;text-align: center; font-size:0.1874rem; border-radius: 0.05rem; color: #356fc4; text-decoration: none }
.uc-warning-btnbox a.tel{ color: #f47410;background:#fff url('http://img.autostreetscdn.com/m/src/images/phone-1.png') no-repeat 0.47rem center; background-size:0.225rem 0.225rem;}

.uc-logout{width: 100%;}
.uc-logout a{ font-size: 0.1574rem; display: block;border: 1px solid #ddd; background: #fff; margin:0.1125rem 0.1125rem 0.1125rem 0.1125rem;height: 0.4612rem; line-height:0.4612rem;text-align: center; font-size:0.1874rem; border-radius: 0.05rem; color: #d90000; text-decoration: none }

/*信息页面 模版样式*/
.m-title{font-size:0.1799rem;padding:0.1rem 0.1rem; color: #777; font-weight: normal; padding-top: 0.2rem; margin-top: 0.02rem}
.m-title span{ float: right;font-size:0.1349rem; margin-top: 0.05rem}

.m-box{ background: #fff; border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd; font-size: 0.1799rem}
.m-box ul{ margin-left: 0.1124rem; position: relative; top:-1px;}
.m-box ul li{ border-top: 1px solid #dddddd; padding: 0.15rem 0; line-height:120%; font-size: 0.15rem}
.m-box ul li .right{ color: #999; float: right; margin-right: 0.15rem}
.m-box ul li .openimg{ color: #f47510; background:url('../images/zoomin.png') right center; background-repeat: no-repeat; background-size:0.2474rem 0.2474rem; padding-right:0.3rem; text-decoration: none}



